article {
    color: white;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding: 5rem 0 5rem 0;

    span { color: #F8D340;}

    .games-grid {
        max-width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 50px;
        img { width: 250px;}
    }
}