section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    width: 250px; 
    height: 50px;
    margin: 10px;
    
    @media (max-width: 840px) { 
        display: none; 
        
        section, + mat-divider { display: none; }
    }
}