<p-accordion (onTabOpen)="AccordionTabOpenEvent($event)" (onTabClose)="AccordionTabCloseEvent($event)">
    <p-accordionTab header="Genres">
        
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum amet earum ducimus expedita rem quia officia hic sunt provident nostrum fuga illo autem voluptatibus sed, deleniti, aliquid aspernatur beatae mollitia?
        </p>
        
    </p-accordionTab>

    <p-accordionTab header="Platforms">
            <p>
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium...
            </p>
    </p-accordionTab>

    <p-accordionTab header="Publishers">
            <p>
                At vero eos et accusamus et iusto odio dignissimos...
            </p>
    </p-accordionTab>
</p-accordion>
