@mixin flex($direction: row, $justify) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: center;
}
  
.descriptions-section {
    @include flex(column, center);
    color: white;
    margin-top: 20px;

    .description, .reverse {
        @include flex(row, space-around);
        width: 70%;
        min-width: 305px;
        margin-bottom: 50px;
     
        &.reverse { @include flex(row-reverse, space-around); }

        img { width: 50%; }

        p { text-align: justify;}

        h4 {color: #f7d354;}

        @media (max-width: 767px) {
            @include flex(column-reverse, center);
            
            &.reverse { @include flex(column-reverse, center);}
        };
    }
}

@keyframes showbyscroll {
    0% { opacity: 0; transform: translateY(-100%); }
    100% { opacity: 1; transform: translateY(0); }
}