@if(games.length > 0) {
    <div>
         @for (game of games; track game.id) {
            <a routerLink='/game'>
                <img 
                    [ngSrc]="game.slug" 
                    [alt]="game.name" 
                    width="250" 
                    height="350" 
                    priority
                />
            </a>
         } 
    </div>

    <p-paginator 
        (onPageChange)="onPageChange($event)" 
        [first]="first"
        [rows]="size" 
        [totalRecords]="totalRecords"
    />
    
 } @else {
     <p>No games in the moment</p>
 }
 