@if(games.length > 0) {
    <div [ngClass]="{'gameSearch': styledInSearchPage, 'gameHome': !styledInSearchPage }">
         @for (game of games; track game.id) {
            <a [routerLink]="['/game', game.id]">
                <img src="{{game.slug}}" alt="{{game.name}}" />
            </a>
         } 
    </div>
    
    <p-paginator
        (onPageChange)="onPageChange($event)" 
        [first]="first"
        [rows]="size" 
        [totalRecords]="totalRecords"
        [ngClass]="{'showPaginator': styledInSearchPage, 'hidePaginator': !styledInSearchPage}"
    />
    
 } @else {
     <p>No games in the moment</p>
 }
