@use "../../utils/flex.scss";
@use "../../utils/widthHeight.scss";
@use "../../utils/marginPadding.scss";

$color: white;
$bgcolor: #555;

/*global style */
img { 
  @include widthHeight.widthHeight(250px, 250px, auto);
  object-fit: contain; 

  &:hover {
    opacity: 0.8;
    cursor: pointer;
    transition: all 0.5s;
  }
}

a { 
  text-decoration: none;
  color: $color;

  &:hover {
    color: #f7d354;
    transition: all 0.5s;
  }
}

.show { display: block }
.hide { display: none }

@media (max-width: 840px) { img { max-width: 180px;} }

/* game class to GameSearch page */ 

.gameSearch { 
  @include flex.flex(row, center, none, 50px, wrap);
  @include widthHeight.widthHeight(100%, 850px, auto);
  @include marginPadding.marginPadding(0 auto, none);
}

.gameHome {
  @include flex.flex(row, center, none, 50px, nowrap);
  overflow: hidden;

  a { 
    animation: scroll 10s linear infinite;
    white-space: nowrap;
  }

  @keyframes scroll {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
}