@if(games.length > 0) {
    <div [ngClass]="{'gameSearch': styledInSearchPage, 'gameHome': !styledInSearchPage }">
        @for (game of games; track game.id) {
            <a [routerLink]="['/game', game.id]">
                <img [src]="game.slug" [alt]="game.name" />
            </a>
        } 
    </div>
    
    <a 
        [routerLink]="'/games'" 
        [ngClass]="{'show': !styledInSearchPage, 'hide': styledInSearchPage}"
        >
            Click here to find more games
    </a>
} @else {
     <p>No games in the moment</p>
}
