@use "../../utils/flex.scss";
@use "../../utils/marginPadding.scss";

article {
    @include marginPadding.marginPadding(0 auto, 5rem 0 5rem 0);
    color: white;
    max-width: 1200px;
    text-align: center;

    span { color: #F8D340;}

    .games-grid {
        @include flex.flex(none, center, none, 50px, wrap);
        max-width: 100%;

        img { width: 250px;}
    }
}