@use "../../utils/flex.scss";
@use "../../utils/widthHeight.scss";
$primarycolor: #f7d354;

nav {
    @include flex.flex(row, space-around, center, none, none);
    max-width: 100%;
    padding: 10px;

    a, span {
        color: white;
        text-decoration: none;
        margin-left: 10px;
        padding: 10px;  
        cursor: pointer;
    }

    .username {
        cursor: default;
        color: $primarycolor;
    }

    .navbar-left {
        @include flex.flex(none, none, center, 10px, none);
        
        .menu-button {
            background: transparent;
            border-radius: 10px;
            border: none;
            color: white;
            font-size: 20px;
            cursor: pointer;
            display: none;
        }
    
        .title {
            color: $primarycolor;
            text-decoration: none;
            font-size: 20px;
            font-weight: bold;
        } 
    }
   
    .search-bar {
        @include flex.flex(row, none, center, none, none);
        @include widthHeight.widthHeight(70%, 70%, none);
        position: relative;
       
        mat-icon.search-icon {
          position: absolute;
          left: 10px; 
          color: gray;
        }
    
        input {
            @include widthHeight.widthHeight(100%, 100%, 35px);
            padding-left: 40px;  
            border-radius: 20px;
            border: none;
            outline: none;
        }
    }

    .sidenav {
        @include widthHeight.widthHeight(100%, 250px, 100%);
        position: fixed;
        top: 0;
        left: -250px; 
        background-color: #444;
        transition: 0.3s;
        padding-top: 60px;
        z-index: 1;
    
        .close-btn {
            position: absolute;
            top: 16px;
            right: 16px;
            background: none;
            border: none;
            color: white;
            cursor: pointer;
        }

        li { padding: 10px 16px; }   
    }
      
    .sidenav.open { left: 0; } 

    @media(max-width: 1024px) {
        .navbar-left {
            .menu-button { display: block; }
        }
        
        .navbar-right { display: none; }
    }
}