<nav>
    <div class="navbar-left">
        <button (click)="toggleSidenav()" class="menu-button">☰</button>
        <a routerLink="/" class="title">Gameslib</a>
    </div>

    <form (ngSubmit)="handleSubmit()" class="search-bar">
        <mat-icon class="search-icon">search</mat-icon>
          
        <input 
            type="text" 
            placeholder="Search a game" 
            class="input"
            [(ngModel)]="search"
            name="search"
        />
    </form>
   
    <div class="navbar-right">
        @if(isLoggedIn()) {
            <span class="username">{{user?.username}}</span>
            <a (click)="logout()">Logout</a>
        } @else {
            <a routerLink="/login">Log in</a>
            <a routerLink="/signup">Sign up</a>
        }
    </div>

    <div class="sidenav" [class.open]="isSidenavOpen">
        <button class="close-btn" (click)="toggleSidenav()">X</button>

        @if(isLoggedIn()) {
            <span class="username">{{user?.username}}</span>

            <ul>
                <li><a (click)="logout()">Logout</a></li>
                <li><a routerLink="/login">Profile</a></li>
                <li><a routerLink="/signup">Add Game</a></li>
            </ul>
        } @else {
            <ul>
                <li><a routerLink="/login">Log in</a></li>
                <li><a routerLink="/signup">Sign up</a></li>
            </ul>
        }
    </div>
</nav>
