@use "../../utils/flex.scss";
@use "../../utils/widthHeight.scss";
$primarycolor: #f7d354;

nav {
    @include flex.flex(row, space-around, center, none, none);
    max-width: 100%;
    padding: 10px;

    .navbar-left {
        @include flex.flex(none, none, center, 10px, none);
        
        button[mat-icon-button] {
            background: transparent;
            border-radius: 10px;
            display: none;

            mat-icon { 
                color: white; 

                &:hover {
                    color: $primarycolor;
                    transition: all 0.5s;
                }
            }

            @media(max-width: 1024px) { display: block; }
        }
    
        .title {
            color: $primarycolor;
            text-decoration: none;
            font-size: 20px;
            font-weight: bold;
        } 
    }
   
    .search-bar {
        @include flex.flex(row, none, center, none, none);
        @include widthHeight.widthHeight(70%, 70%, none);
        position: relative;
       
        mat-icon.search-icon {
          position: absolute;
          left: 10px; 
          color: gray;
        }
    
        input {
            @include widthHeight.widthHeight(100%, 100%, 35px);
            padding-left: 40px;  
            border-radius: 20px;
            border: none;
            outline: none;
        }
    }

    .navbar-right a {
        color: white;
        text-decoration: none;
        margin-left: 10px;  
    }

    @media(max-width: 1024px) {
        justify-content: space-between;
        
        .search-bar { width: 50%; }

        .navbar-left {
            button[mat-icon-button] { display: block; }
        }
        
        .navbar-right a { display: none; }
    }
}