<article>
  <section class="image-section">
    <div class="main-image">
      <img src="{{ selectedImage }}" alt="Game Image" />
    </div>
    <div class="secondary-images">
      @for(image of images; track image.id) {
      <img src="{{ image.src }}" (click)="selectImage(image.src)" /> }
    </div>
  </section>
  <section class="description-section">
    <div
      style="background-image: url(assets/backgroundimage1.png)"
      class="image-background"
    >
      <img src="assets/imagelogo1.png" alt="logo image" />
    </div>
    <div class="ratings-note">
      <img src="assets/ESRB.png" alt="rating image" />
      <div class="game-note"><span>80</span></div>
    </div>
  </section>
  <section class="buttons-section">
    <button mat-raised-button color="primary">+ Wishlist</button>
    <button mat-raised-button color="primary">See your wishlist</button>
  </section>
  <section class="text-section">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos minus vero
      ipsam assumenda. Reprehenderit eaque at architecto mollitia magnam. Error
      rerum cumque minima. Nisi, voluptatem recusandae. Pariatur saepe officia
      beatae?Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore
      natus possimus magnam porro ad, corrupti nemo deleniti eum! Quae, a nobis
      ducimus labore consectetur vel asperiores! Consequuntur illo amet facere.
    </p>
  </section>
  <section class="dev-pub-section">
    <span>Platforms: Playstation 3 | Playstation 2 | PC | Nintendo Wii</span>
    <span>Genre: Action</span> <span>Publisher: Rockstar Games</span>
  </section>
</article>
