@if(game) {
  <article>
    <section class="image-section">
      <div class="main-image">
        <img src="{{ selectedImage }}" alt="Game Image" />
      </div>

      <div class="secondary-images">
        @for(image of images; track image.id) {
        <img src="{{ image.src }}" (click)="selectImage(image.src)" /> }
      </div>
    </section>

    <section class="description-section">
      <div style="background-image: url({{game.background_image}})" class="image-background">
        <img [src]="game.image_logo" [alt]="game.name" />
      </div>

      <div class="ratings-note">
        <img src="assets/ESRB.png" alt="rating image" />

        <div class="game-note"><span>{{game.rating}}</span></div>
      </div>
    </section>

    <section class="buttons-section">
      <button mat-raised-button color="primary">+ Wishlist</button>
      <button mat-raised-button color="primary">See your wishlist</button>
    </section>

    <section class="text-section">
      <p>{{game.description}}</p>
    </section>

    <section class="dev-pub-section">
      <span>
        Platforms:
        @for(platform of platforms; track platform.id) {
          {{platform.name}} |
        }
      </span>
      
      <span>Genre: Action</span> <span>Publisher: Rockstar Games</span>
    </section>
  </article> 
}
   
