<article>
    <h2>Gameslib</h2>
    <div class="form">
        <form action="">
            <label for="username">Username: </label>
            <input type="text" id="username" placeholder="Insert your username" required>
            <label for="email">Email: </label>
            <input id="email" type="text" placeholder="Insert your email" required>
            <label for="password">Password</label>
            <input id="password" type="text" placeholder="Insert your password" required>
            <button type="submit">submit</button> 

            <a href="">Are you having a account? login here</a>
        </form>
    </div>
</article>
