@use "../../utils/flex.scss";
@use "../../utils/marginPadding.scss";

article {
    @include marginPadding.marginPadding(0 auto, 5rem 0 5rem 0);
    @include flex.flex(column, center, center, none, none);
    color: white;
    
    h2 { color: #f7d354}

    .form {
        max-width: 300px;
        padding: 50px;
        background-color: rgb(46, 45, 45);
        border-radius: 20px;
       
        form {
            @include flex.flex(column, none, none, 10px, none);
            input[type="text"] {
                border-radius: 10px;
                height: 25px;
                border: none;
            }

            input::placeholder { padding-left: 10px;}
        }

        button {
            height: 30px;
            border-radius: 10px;
            border: none;

            &:hover {
                background-color: #f7d354;
                color: black;
                transition: all 0.5s;
            }
        }
        a {
            padding-top: 10px;
            text-decoration: none;
            color: white;
        
            &:hover {
                color: #f7d354;
                transition: all 0.5s;
            }
        }
    }
}