@use "../../utils/flex.scss";
@use "../../utils/widthHeight.scss";

article {
    margin: 0 auto;
    color: white;
   
    h1 {color: #f7d354;}
    
    .titles-section {
        @include flex.flex(none, center, center, none, none);
        height: 100vh;
        position: relative;
        overflow: hidden;
        background-position: center;
        background-size: cover;
        animation: showbackground 2s ease-in-out forwards; 

        &:before {
            @include widthHeight.widthHeight(100%, 100%, 100%);
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.5); 
            z-index: 0; 
        }
        
        .title {
            z-index: 1; 
            text-align: center;
            color: white;
        }
    }

    .games-section {
        text-align: center;
        margin: 10px;
    }
}

@keyframes showbackground {
    0% { opacity: 0; }

    100% { opacity: 1; }
}