<article>
    <section class="titles-section" style="background-image: url(assets/earth-background.jpg)">
        <div class="title">
            <h1>Gameslib</h1>
            <h3>A place where you can find your favorite games</h3>

            <a href="#teste">↓</a>
        </div>
    </section>
    <section id='teste' class="descriptions-section">
        <div class="description">
            <div>
                <h4>Dive into New Worlds</h4>
                <p>The world of gaming is vast, offering a wide array of genres that cater to every kind of player. Whether you're looking for heart-pounding action or an emotional story-driven journey, there's something for everyone.</p>
            </div>
            <img src="assets/genre_image.png" alt="">
        </div>
        <div class="description">
            <div>
                <h4>Your Gateway to the Gaming Universe</h4>
                <p>Gaming platforms are the foundation that bring your favorite games to life. Whether you're playing at home or on the go, the right platform delivers the immersive experiences, cutting-edge graphics, and gameplay you crave</p>
            </div>

            <img src='assets/platform_image.png' alt="">    
        </div>

        <div class="description">
            <div>
                <h4>The Powerhouses Behind Your Favorite Games</h4>
                <p>Behind every great game is a publisher that brings it to life, ensuring it reaches gamers worldwide. These companies are the driving force behind the global gaming industry.</p>
            </div>
            <img src='assets/publisher_image.png' alt="">
        </div>
    </section>
</article>