@use "../../utils/flex.scss";
@use "../../utils/widthHeight.scss";
@use "../../utils/marginPadding.scss";

article {
    @include flex.flex(none, space-around, none, 20px, none);
    @include marginPadding.marginPadding(0 auto, 5rem 0 5rem 0);
    max-width: 1200px;
     
    @media (max-width: 840px) {
        @include flex.flex(column-reverse, center, none, 20px, none);
    }
}

::ng-deep {
    .p-accordion {
        width: 250px;
        
        .p-accordion-header {
            color: #f7d354;
            font-weight: 600;
            padding: 1rem 1.5rem;
            
            .p-accordion-header-link { 
                font-size: 1.1rem; 
                gap: 20px;
            }
        }

        .p-accordion-content {
            padding: 1.5rem;
            font-size: 0.9rem;
            color: white;
            border-top: 1px solid #dee2e6;

            li { 
                list-style: none;
                padding: 10px;
            }
        }

        @media (max-width: 840px) { display: none; }
    }
}