<article>
    <h2>Gameslib</h2>
    <div class="form">
      <form [formGroup]="signInForm" (ngSubmit)="onSubmit()" method="post">  
        <label for="email">Email:</label>
        <input id="email" type="email" formControlName="email" placeholder="Insert your email" required>
        
        <label for="password">Password:</label>
        <input id="password" type="password" formControlName="password" placeholder="Insert your password" required>
        
        <button type="submit">Submit</button>
      </form>
      
      <a href="/signup">You don't  have an account? Sign up here</a>
    </div>
</article>
